<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.virtualmeetingapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="elevatesecurity.myapplication.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <meta-data
        android:name="firebase_messaging_auto_init_enabled"
        android:value="false" />
    <meta-data
        android:name="firebase_analytics_collection_enabled"
        android:value="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable"></activity>
        <activity android:name=".CallingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable"
            ></activity>
        <activity android:name=".VideoChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable"></activity>

<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="${applicationId}.provider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"/>-->
<!--        </provider>-->

        <activity android:name=".ViewPagerFragment.InmateLogin" android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity android:name=".ViewPagerFragment.OfficerLogin" android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity android:name=".ViewPagerFragment.VisitorRegister" android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity android:name=".adapter.TabFragmentAdapter" android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity android:name=".VerificationActivity"></activity>
        <activity android:name=".ClientTypeActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SpaceTabLayout.fragments.ChatListFragment"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".adapter.AdapterChat"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,Instantiatable" />
        <activity
            android:name=".adapter.AdapterChatlist"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,Instantiatable" />
        <activity
            android:name=".ChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,Instantiatable" />
    </application>

</manifest>